body{
    background-color: rgb(248,254,255);
}
.container1{
    background-color: rgb(233,250,252);
}
#header{
    float:left;
    color:rgb(23, 23, 37);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    margin-top:12px;
    font-size:large;
    margin-left: 65px;
    
}
.topnav{
    float: right;
    display: flex;
    margin-top: 20px;
}
h3{
    padding: 95px;
    margin-left: 60px;
    color: rgb(228, 128, 13);
}
.lines:before{
    content:" ";
    display: block;
    height: 2px;
  width: 50px;
  position: relative;
  top: 12px;
  right: 60px;
  background-color: rgb(228, 128, 13);
}
.main-message{
    padding-left: 90px;
    padding-bottom: 100px;
    margin-top: -90px;
    font-size: 53px;
}
.sub-message{
    color:rgb(91, 95, 121);
    margin-top: -200px;
    padding-left:38px ;
    font-family: 'Times New Roman', Times, serif;
}
.button{
    width: 165px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: rgb(69,161,171);
    margin-left: 100px;
    border-style: none;
    
}
.fa-play{
 display: inline-block;  
 margin-left: 30px;
 background-color: white; 
 padding: 20px;
border-radius: 30px;
color: rgb(69,161,171);
height: 8px;
}
.dog-image{
    margin-left: 630px;
    margin-top:-750px;
    border-radius: 40px;
    padding: 40px;
    
}
p{
    width: 300px;
    height: 300px;
    margin-left: 600px;
    margin-top:-538px;
    border-radius: 350px;
    padding: 40px;
    border:rgb(207,228,231) solid 60px;

}
.container2{
    background-color:rgb(241, 247, 248);
    
    
}
#head2{
    font-size: 40px;
    color: black;
    margin-left: 100px;
    margin-bottom: 100px;
    padding-top: 120px;

}
#mini-header{
    margin-left: 700px;
    margin-top: -160px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:rgb(78, 81, 100)
}
.column-1{
    display: flex;
}
.services1{
    width: 270px;
    height: 250px;
    background-color:white;
    margin-left: 90px;
    margin-top: 100px;
    border-radius: 5px;
    

}
#airplay{
    display: inline-block;  
    margin-left: 20px;
    background-color: white; 
    padding: 20px;
   border-radius: 30px;
   background-color: rgb(233,250,252);
   height: 8px;
   margin-top: 40px;
}

#expl-title{
   margin-left: 25px;
   font-size: 18px;
   padding-top: 10px;
}
#expl{
    margin-left: 20px;
    padding-top: 7px;
    color: rgb(163,166,187);
}

.services2{
    width: 270px;
    height: 250px;
    background-color:white;
    margin-left: 90px;
    margin-top: 100px;
    border-radius: 5px;
}

.services3{
    width: 270px;
    height: 250px;
    background-color:white;
    margin-left: 90px;
    margin-top: 100px;
    border-radius: 5px;
}

.column-2{
    display: flex;
    
}
.services4{
    width: 270px;
    height: 250px;
    background-color: white;
    margin-left: 90px;
    margin-top: 100px;
    border-radius: 5px;
}

.services5{
    width: 270px;
    height: 250px;
    background-color: white;
    margin-left: 90px;
    margin-top: 100px;
    border-radius: 5px;
}

.services6{
    width: 270px;
    height: 250px;
    background-color: white;
    margin-left: 90px;
    margin-top: 100px;
    border-radius: 5px;
}  
.container3{
    display: flex;
}
.best-vet{
    width: 350px;
    height: 450px;
    background-color: rgb(198, 202, 202);
    border-radius: 10px;
    margin-left: 88px;
    margin-top: 80px;
    float: left;
    margin-right: 100px;
}

#doc1a{
    margin-left: -70px;
    padding-top: 93px;
}
#heading1{
padding-top: 110px;
font-size: 50px;
font-family: 'Times New Roman', Times, serif;
}
.body{
color:rgb(86, 89, 104);
padding-top: 30px;
font-family: 'Times New Roman', Times, serif;
font-size: large;
}
.btn{
    width: 165px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: rgb(69,161,171);
    margin-left: 2px;
    margin-top: 30px;
    border-style: none;
}
.container4{
    background-color: aliceblue;
}
.two-cols{
    display:flex;
    
}
.one{
    width: 600px;
    height: 380px;
    background-color: white;
    /* margin-left: 130px; */
    margin-top: 50px;
    border-radius: 5px;
    margin-right: 2px;
    
}
.two{
    width: 600px;
    height: 380px;
    background-color: white;
    /* margin-left: 5px; */
    margin-top: 50px;
    border-radius: 5px;
}
.fa-quote-left{
    color: lightblue;
    font-size: 60px;
    margin-left: 120px;
    padding-top: 40px;
}
#response1-head{
margin-left: 120px;
padding-top: 20px;
font-size: 23px;

}
.response1-body{
margin-left:120px ;
padding-top: 20px;
color:rgb(86, 90, 117);
font-size: 18px;
}
#photo1{
        /* border:2px solid rebeccapurple; */
        border-radius: 30px;
        width: 35px;
        height: 30px;
        background-color: rgb(191, 194, 194);
        margin-left: 120px;
        margin-top: 40px;
        float: left;
        padding-top: 5px;
    }
    #text{
        padding-left: 10px;
        padding-top: 38px;
    }
    #stars{
         margin-top: -20px;    
    }
    #num{
        margin-top: -51px;
        margin-left: 260px;
    }
     #mini-header2{
        margin-left: 1000px;
        margin-top: -130px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        color:rgb(76,174,184);
     }
     .fa-arrow-right-long{
        color:rgb(76,174,184);
        margin-left: 1070px;
        margin-top: -10px;    
     }
.doctors{
    display: flex;
}
     .team1{
    width: 300px;
    height: 330px;
    background-color: rgb(244,240,253);
    margin-left: 60px; 
    margin-top: 50px;
    border-radius: 5px;
    margin-right: 2px;
    
     }
     #doc1{
         margin-left: 26px;
         margin-top: -89px;
     }

     .team2{
        width: 300px;
        height: 330px;
        background-color: rgb(227,252,255);
        margin-left: 60px; 
        margin-top: 50px;
        border-radius: 5px;
        margin-right: 2px;
        
         }
         #doc2{
             margin-left: 26px;
             
         }

         .team3{
            width: 300px;
            height: 330px;
            background-color: rgb(253,245,240);
            margin-left: 60px; 
            margin-top: 50px;
            border-radius: 5px;
            margin-right: 2px;
            
             }
             #doc3{
                 margin-left: 26px;
                 
             }
            #neil{
                margin-left: 1px;
                padding-top: 20px;
            }
            #expert{
                margin-left: 0px;
                margin-top: 0px;
                padding-top: -9px;
                color:rgb(122, 127, 160);
                padding-bottom: 120px;
            }
            .description{
                display: flex;
            }
.firstbox{
            width: 980px;
            height: 160px;
            background-color: rgb(233,250,252);
            margin-left: 80px; 
            margin-top: 180px;
            border-radius: 10px;
            margin-right: 2px;
            padding-top: 180px;
            margin-bottom: 130px;
}
.secondbox{
    width: 800px;
    height: 80px;
    background-color: white;
    margin-left: 90px; 
    border-radius: 10px;
    margin-top: 40px;
    
    
}
.thirdbox{
    width: 170px;
    height: 70px;
    background-color: rgb(69,161,171);
    margin-left: 624px; 
    border-radius: 10px;
    border-style: none;
    margin-top: -49px;
}
#subscribe{
    color: white;
    text-align: center;
    padding-top: 22px;
}
#email{
    padding-left: 70px;
    font-size: 20px;
    padding-top: 30px;
    color:rgb(146, 149, 165);
} 
#blog{
    margin-left: 300px;
 margin-top: -90px;
 font-size: 40px;
 
}
#fhead{
   display: flex; 
   color: black;
   padding-bottom: 12px;
}
.footer{
    display: flex;
    color:rgb(118, 122, 150);
    

}
.pet{
    margin-left: 90px;
    padding-right: 170px;
}
.socialm{
    display: flex;
    gap: 0.5rem;
    
}
.product{
    padding-right: 170px;
}
.community{
    padding-right: 170px;
}
#social1{
    display: inline-block;  
    margin-left: 2px;
    padding: 15px;
   border-radius: 30px;
   background-color: rgb(77, 102, 212);
   height: 8px;
   margin-top: 40px;
   color: white;
   width: 9px;
}
#social2{
    display: inline-block;  
    margin-left: 20px;
    padding: 15px;
   border-radius: 30px;
   background-color: rgb(77, 212, 212);
   height: 8px;
   margin-top: 40px;
   color: white;
   width: 9px;
}
#social3{
    display: inline-block;  
    margin-left: 20px;
    padding: 15px;
   border-radius: 35px;
   background-color: rgb(241, 37, 37);
   height: 8px;
   margin-top: 40px;
   color: white;
   width: 9px;
}
#social4{
    display: inline-block;  
    margin-left: 20px;
    padding: 15px;
   border-radius: 35px;
   background-color: rgb(33, 41, 75);
   height: 8px;
   margin-top: 40px;
   color: white;
   width: 9px;
}
